.menu {
  width: 12%;
  height: 7.5%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 15px;
}

.menu div {
  width: 100%;
  height: 0.9vh;
  position: absolute;
  border-radius: 10px;
  transition: 0.5s;
}
.menu div:nth-child(2) {
  transform: translateY(2vh);
}
.menu div:nth-child(3) {
  transform: translateY(4vh);
}
.menu.dark div {
  background: #cdcdcd;
}
.menu.light div {
  background: #000;
}
.menu.active {
  width: 12%;
  height: 7.5%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}
.menu.active div:nth-child(1) {
  transform: translateY(1vh) rotate(45deg);
}
.menu.active div:nth-child(2) {
  transform: translateX(100vw);
}

.menu.active div:nth-child(3) {
  transform: translateY(1vh) rotate(315deg);
}

@media only screen and (min-width: 600px) {
  .menu {
    width: 8.5%;
    height: 7.5;
    margin: 15px;
  }
  .menu.active {
    width: 8.5%;
    margin: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
}
