.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh minmax(70vh, 70%) 10vh;
}
.container.dark {
  background: #222222;
  color: #cdcdcd;
}
.container.light {
  background: #fff;
  color: #000;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: minmax(20vh, 20%) minmax(70vh, 70%) minmax(10vh, 10%);
  }
}
