.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh minmax(80vh, 80%) minmax(10vh, 10%);
}
.container.dark {
  background: #222222;
  color: #cdcdcd;
}
.container.light {
  background: #fff;
  color: #000;
}
