.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container ul {
  list-style: none;
  width: 100%;
}
.container .text {
  margin: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.dia {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
